services:
  postgres:
    image: postgres:18
    ports:
      - "6543:5432"
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./.docker/pgdata:/var/lib/postgresql
      - ./import-data:/import-data
